.page-header
  %h2 Listing stocks
- if @stocks.empty?
  %p Stocks list is empty.
-else
  %table#stock-index-table.table.table-striped
    %tr
      %th Name
      %th.medium_column Price
      %th.small_column
        %acronym{title:'Quantity'} Qt.
      %th.small_column Percentage
      %th.small_column
        %acronym{title:'Years stock exists'} Yrs
    - @stocks.each do |stock|
      %tr
        %td= link_to stock.name, stock
        %td=  stock.price
        %td= stock.quantity
        %td= "#{'%.2f' % stock.percentage}%"
        %td= stock.years

%br

= button_to 'Enter new stock', new_stock_path, class:'btn btn-default'
