.page-header
  %h1 Listing stocks

%table.table.table-striped
  %tr
    %th Name
    %th Price
    %th Quantity
    %th Percentage
    %th Years
    %th
    %th

  - @stocks.each do |stock|
    %tr
      %td= link_to stock.name, stock
      %td= "%.2f" % stock.price
      %td= stock.quantity
      %td= "%.2f" % stock.percentage
      %td= stock.years
      %td= link_to 'Edit', edit_stock_path(stock)
      %td= link_to 'Destroy', stock, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= button_to 'Enter new stock', new_stock_path, class:"btn btn-default"
