%p#notice= notice

%p
  %b Name:
  = @stock.name
%p
  %b Price:
  = @stock.price
%p
  %b Quantity:
  = @stock.quantity
%p
  %b Percentage:
  = @stock.percentage
%p
  %b Years:
  = @stock.years

= link_to 'Edit', edit_stock_path(@stock)
\|
= link_to 'Back', stocks_path
